%tr.build.alert{class: build_status_alert_class(build)}
  %td.status
    = build.status

  %td.build-link
    = link_to ci_project_build_path(build.project, build) do
      %strong Build ##{build.id}

  %td
    = build.stage

  %td
    = build.name
    .pull-right
      - if build.tags.any?
        - build.tag_list.each do |tag|
          %span.label.label-primary
            = tag
      - if build.trigger_request
        %span.label.label-info triggered
      - if build.allow_failure
        %span.label.label-danger allowed to fail

  %td.duration
    - if build.duration
      #{duration_in_words(build.finished_at, build.started_at)}

  %td.timestamp
    - if build.finished_at
      %span #{time_ago_in_words build.finished_at} ago

  - if build.project.coverage_enabled?
    %td.coverage
      - if build.coverage
        #{build.coverage}%

  %td
    - if defined?(controls) && current_user && can?(current_user, :manage_builds, gl_project)
      .pull-right
        - if build.active?
          = link_to cancel_ci_project_build_path(build.project, build, return_to: request.original_url), title: 'Cancel build' do
            %i.fa.fa-remove.cred
        - elsif build.commands.present?
          = link_to retry_ci_project_build_path(build.project, build, return_to: request.original_url), method: :post, title: 'Retry build' do
            %i.fa.fa-repeat
