.ci-body {
  .project-title {
    margin: 0;
    color: #444;
    font-size: 20px;
    line-height: 1.5;
  }

  .wide-table-holder {
    margin-left: -$gl-padding;
    margin-right: -$gl-padding;
  }

  .builds,
  .projects-table {
    .alert-success {
      background-color: #6fc995;
      border-color: #5bba83;
    }

    .alert-danger {
      background-color: #eb897f;
      border-color: #d4776e;
    }

    .alert-info {
      background-color: #3498db;
      border-color: #2e8ece;
    }

    .alert-warning {
      background-color: #EB974E;
      border-color: #E87E04;
    }

    .alert-disabled {
      background: $background-color;
      border-color: $border-color;
    }

    .light {
      border-color: $border-color;
    }

    th, td {
      padding: 10px $gl-padding;
    }

    td {
      vertical-align: middle !important;
      border-color: inherit !important;

      a {
        font-weight: normal;
        text-decoration: none;
      }
    }
  }

  .commit-info {
    font-size: 14px;

    .attr-name {
      font-weight: 300;
      color: #666;
      margin-right: 5px;
    }

    pre.commit-message {
      font-size: 14px;
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      margin: 20px 0;
      border-bottom: 1px solid #EEE;
      padding-bottom: 20px;
      border-radius: 0;
    }
  }

  .loading{
    font-size: 20px;
  }

  .ci-charts {
    fieldset {
      margin-bottom: 16px;
    }
  }
}
