- page_title @blob.path, @ref

= render 'projects/last_push'

%div.tree-ref-holder
  = render 'shared/ref_switcher', destination: 'blob', path: @path

%div#tree-holder.tree-holder
  = render 'blob', blob: @blob

- if allowed_tree_edit?
  = render 'projects/blob/remove'
  = render 'projects/blob/upload'
