.search
  = form_tag "#", method: :get, class: 'ci-search-form' do |f|
    .input-group
      = search_field_tag "search", params[:search], placeholder: "Search", class: "search-input form-control"
      .input-group-addon
        %i.fa.fa-search


:coffeescript
  $('.ci-search-form').submit ->
    NProgress.start()
    query = $('.ci-search-form .search-input').val()
    $.get '#{gitlab_ci_projects_path}', { search: query }, (data) ->
      $(".projects").html data.html
      NProgress.done()
    CiPager.init "#{gitlab_ci_projects_path}" + "?search=" + query, #{Ci::ProjectsController::PROJECTS_BATCH}, false
    false
