%ul.nav.nav-sidebar
  = nav_link do
    = link_to root_path, title: 'Back to dashboard', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Back to GitLab
  %li.separate-item
  = nav_link path: 'projects#index' do
    = link_to ci_root_path do
      %i.fa.fa-home
      %span
        Projects
  - if current_user && current_user.is_admin?
    %li
      = link_to ci_admin_projects_path do
        %i.fa.fa-cogs
        %span
          Admin
  %li
    = link_to ci_help_path do
      %i.fa.fa-info
      %span
        Help

